* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    color: #007734;
    background-color: skyblue;
    font-size: 1.4rem;
    line-height: 1.6;
    padding-bottom: 50px;
}

.body {
    background-color: rgb(209, 209, 208);
}

section {
    background-color: darkgrey;
    width: 1234px;
    margin: 7rem auto;
    padding: 0.5rem 2.5rem;
    text-align: justify;
}

nav {
    width: 100%;
    height: auto;
    background-color: white;
    position: relative;
    top: 0; /* if position fixed */
    overflow: hidden;
    box-shadow: 2px 3px 10px -5px #2e8bb07e;
}



/* HAMBURGER */
.hamburger {
    position: fixed;
    top: 10px;
    right: 25px;
    cursor: pointer;
    z-index: 2;
}

.line {
    display: block;
    position: flex;
    background-color: #373737;
    width: 33px;
    height: 2.25px;
    margin-top: 9px;
    border-radius: 15px;
    /* transition: all 0.33s ease; */
}



/* HORIZONTAL NAV */
.horizontal {
    width: 100%;
    max-width: 1320px;
    min-width: 990px;
    margin: 0 auto 0;
    padding: 12px 140px 12px 0;
    text-align: center;
    position: relative;
    overflow: hidden;
    background: white;

}

.horizontal a {
    font-family: 'David Libre', serif;
    font-size: 1.25rem;
    color: #373737;
    background-color: snow;
    text-decoration: none;
    padding: 0.5rem 1.25rem 18px;
    text-transform: capitalize;
    transition: 0.2s background-color;
}

.links {
    list-style: none;
    float: right;
}

.links li {
    float: left;  
}



/* vertical MENU */
#down {
    display: none;
}

#down:checked ~ .vertical {
    opacity: 1;
    pointer-events: all;
}

.vertical {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #338ebf;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.18s ease;
    pointer-events: none;
}

.vertical a {
    position: relative;
    top: 225px;
    font-family: 'David Libre', serif;
    color: #373737;
    text-decoration: none;
    margin: 2.25px 0;
    /* text-transform: uppercase; */
    transition: 0.5s color;
}

.vertical a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    width: 0%;
    max-width: 500px;
    height: 2px;
    border-radius: 50%;
    background: #dddddd;
    transition: 0.3s all;
    transform: translateX(-50%);
}



/* TRANSITIONS */
.horizontal a:hover {
    background-color: skyblue;
    color: white;
    transition: 0.33s background-color;
}
.horizontal a:active {
    opacity: 0.65;
}

.vertical a:hover {
    color: #ffffff;
    transition: 0.1s color;
}

.vertical a:hover::after {
    width: 200%;
}

.vertical a:active {
    color: gold;
}

a.active-page {
    background-color: #87ceeb;
    color: white;
    /* pointer-events: none; */
}
a.active-page:active {
    opacity: 1; /* para ma-override at ma-separate sa mga naka-set */
}

.sample {
    background-color: grey;
}

a.donotclickme {
    color: transparent;
    transition: none;
}
a.donotclickme:hover {
    color: #373737;
    transition: none;
}
a.donotclickme:hover:after {
    transition: none;
    width: 0;
}
a.donotclickme:active {
    color: white;
}

/* masking... */
a.donotclickme:active:before {
    content: "DO NOT CLICK ME";
    width: 200px;
    left: -60px;
    background-color: #338ebf;
    position: absolute;
    text-align: center;
}